# Generate with: openssl genrsa 2048 | openssl pkcs8 -topk8 -nocrypt -out key.pem
# Then: openssl rsa -in key.pem -pubout -outform DER | openssl base64 -A
PLASMO_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_FRONTEND_API=
CRX_PUBLIC_KEY=your_crx_public_key_here
